<?xml version="1.0" encoding="utf-8"?><!--
  ~ @category ContusMessanger
  ~ @version 2.0
  ~ @author ContusTeam <developers@contus.in>
  ~ @copyright Copyright (C) 2016 Contus. All rights reserved.
  ~ @license http://www.apache.org/licenses/LICENSE-2.0
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.janmuller.android.simplecropimage"
    android:versionCode="1"
    android:versionName="1.0">

</manifest>
