<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.contusfly.mediapicker">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"/>

    <!-- android 13 permission-->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <!-- Required to maintain app compatibility. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <activity
            android:name=".ui.MediaPickerActivity"
            android:label="@string/title_activity_media_picker"
            android:screenOrientation="portrait"
            android:theme="@style/ef_ImagePickerTheme"/>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PICK" />
            <data android:mimeType="video/*, image/*" />
        </intent>
    </queries>
</manifest>